<div class="wrapper">
    <div class="primary">
        <div class="primaryContent">
            <h1>
                Training Tree Coming Soon
            </h1>
            <p>
                About This Project:
                The Training Tree web application was built to allow for easy viewing and altering of company training materials.
                The app allows for the user to select what training contents, or groups of content, to view.
                The user can then edit contents and construct their own groups.
            </p>
            <p>
                Backstory:
                The previous Training Tree app was designed many years ago, back when the training system was just starting.
                Due to this, the page would routinely take over a minute of loading, and still end up broken, due to it's loading method.
                The page would load all training data on page load, which creates many problems now that the database of training contents is much larger.
            </p>
            <p>
                End Result:
                This web page has now been completely rewritten along with new features, such as dropdown lists and search functionality,
                allowing for a better user experience.
                Thanks to the lazy loading hierarchy structure, the page now loads all data quickly for the user.
                The page is still gathering it’s final approvals, but initial impressions from many users indicate that this page
                has massively improved from what they had in the past.
                All in all, after much time and effort, this page rework has been a great learning experience for me,
                as well as a large improvement for the users.
            </p>
            <p>
                Technologies:
                The back end of our system was built with C#, providing important logic and maintaining consistency of data.
                The front end of our system was built with HTML, CSS, and Typescript, using the Angular framework.
                This enables us to create a pleasant and effective user interface.
            </p>
            <!-- Angular Icon: shorturl.at/AHLRX -->
            <!-- C# Icon: shorturl.at/blrt3 -->
        </div>
    </div>
</div>
