<div class="wrapper">
    <div class="primary">
        <h1>
            Training Tree
        </h1>
        <div class="primaryContent">
            <p>
                The Training Tree application is the primary source for administrators to handle the internal learning management system,
                allowing for easy viewing and altering of company training materials.
                With only about 1 month of experience, my assignment was to optimize the existing application.
            </p>
            <p>
                The previous Training Tree app was designed 3 years prior, back when the training system had been just starting.
                The primary issue was that the original app was not designed to scale with the database, which resulted in very long load times.
                The app called for all training data on page load,
                which was problematic since the database of training content had grown exponentially over those 3 years.
            </p>
            <p>
                Going into the project, my primary task was implementing lazy loading of the training data, as well as to remove numerous outdated functions.
                Since so much of the app was being discarded, it was decided that I may as well rebuild the app from the ground up.
                This was in the hope that the final product would have much cleaner code, and that I would gain a greater knowledge of the system.
                After roughly 1.5 months I finally brought the app fully back to life, reducing the initial load time by approximately 95%.
            </p>
            <p>
                Subsequently, it was decided that since the app was being rebuilt, it might as well be given some improvements.
                Unfortunately, that decision was made following much of the rebuild and ultimately resulted in yet <i>another</i> rebuild.
                Thus, the ensuing 2.5 months was spent communicating with the learning management system's admins to implement numerous features
                such as dropdown lists, search functionality, and live change detection. The following image is of the resulting application.
            </p>
        </div>
        <img alt="Training Tree Final Result" src="assets/trainingTreeResult.png" title="Training Tree Final Result">
    </div>
</div>
