.wrapper {
    display: flex;
    align-self: start;
    justify-self: start;
    min-height: 100%;
    //background-color: red;

    .primary {
        flex: 0 0 65%;
        //background-color: green;

        .primaryContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--gap);
            height: 100%;

            h1 {
                position: relative;
                width: max-content;
                max-width: 100%;
            }

            h1::after {
                content: '';
                position: absolute;
                height: 4px;
                left: 0;
                bottom: -4px;
                width: 100%;
                background: var(--gradient);
            }

            p {
                font-size: 1.4rem;
                max-width: 75ch;
                margin-right: calc(2 * var(--gap));
            }

            button {
                width: 20rem;
            }
        }
    }

    .secondary {
        flex: 0 0 35%;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: var(--gap);
        //background-color: blue;

        .profile {
            gap: var(--gap);
        }

        .secondaryContent {
            display: flex;
            flex-direction: column;
            //background-color: green;

            img {
                filter: grayscale(1);
                border-radius: 1rem;
                user-select: none;
                margin: 0 var(--gap);
                width: 250px;
                height: 250px;

                &:hover, &:focus {
                    filter: grayscale(0);
                    transform: scale(1.01);
                }
            }

            .resume {
                width: 250px;
                margin: 0 var(--gap);
                color: rgba(0, 0, 0, 0.6);
            }

            #infoGroup {
                display: flex;
                flex-direction: column;
                gap: var(--gap);
                padding: 0 var(--gap);

                .infoLine {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .infoIcon {
                        height: calc(var(--nav-icon-size) * 3 / 4);
                        width: calc(var(--nav-icon-size) * 3 / 4);
                        flex: 0 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: calc(var(--nav-icon-size) / 2);
                    }

                    .infoTitle {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        height: var(--nav-icon-size);
                        flex: 1 0 0%;
                        padding-left: var(--gap);

                        button {
                            text-transform: uppercase;
                            background: none;
                            color: inherit;
                            border: none;
                            padding: 0;
                        }
                    }
                }
            }

            hr {
                width: 100%;
                opacity: 1;
                border: none;
                height: 3px;
                background-image: linear-gradient(45deg, var(--season-3) 10%, var(--season-2) 60%, var(--season-1) 90%);
                margin: 0.5rem 0;
            }

            .media {
                margin: var(--gap) 0;
                font-size: calc(var(--nav-icon-size) * 2 / 3);
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                button {
                    background: none;
                    color: inherit;
                    border: none;
                    padding: 0;

                    &:hover, &:focus {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
}

// Large
@media (min-width: 2050px) {
    .wrapper {
        .primary {
            display: flex;
            justify-content: center;
        }
    }
}

// Medium
@media (max-width: 1200px) {
    .wrapper {
        gap: calc(var(--gap) * 2);
        flex-direction: column;
        align-items: center;
        height: unset;

        .primary {
            .primaryContent {
                p {
                    margin-right: 0;
                }

                button {
                    margin: auto;
                }
            }
        }

        .secondary {
            flex-direction: row;
        }

        .resume {
            margin: calc(var(--gap) * 2);
        }
    }
}
// Small
@media (max-width: 576px) {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .primary {
            padding-right: 0;

            h1 {
                margin: auto;
            }
        }
    }
}
