.wrapper {
    display: flex;
    align-self: start;
    justify-self: start;
    row-gap: var(--gap-3);
    min-height: 100%;

    .primary {
        flex: 0 0 65%;

        .primaryContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--gap);
            height: 100%;

            h1 {
                position: relative;
                width: max-content;
                max-width: 100%;
            }

            h1::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -4px;
                height: 4px;
                width: 100%;
                background: var(--gradient);
            }

            p {
                max-width: 75ch;
                margin-right: var(--gap-2);
                font-size: 1.4rem;
            }
        }
    }

    .secondary {
        flex: 0 0 35%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: var(--gap);

        .secondaryContent {
            --image-size: 250px;
            display: flex;
            flex-direction: column;

            img {
                height: var(--image-size);
                width: var(--image-size);
                margin: 0 var(--gap) var(--gap);
                border-radius: 1rem;
                filter: grayscale(1);
                user-select: none;

                &:hover, &:focus {
                    filter: grayscale(0);
                    transform: scale(1.01);
                }
            }

            .resume {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: var(--gap);
                width: var(--image-size);
                margin: 0 var(--gap);
                padding: inherit 0;
            }

            #infoGroup {
                display: flex;
                flex-direction: column;
                gap: var(--gap);
                padding: 0 var(--gap);

                .infoLine {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .infoIcon {
                        flex: 0 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: calc(var(--icon-base) * 0.75);
                        width: calc(var(--icon-base) * 0.75);
                        font-size: calc(var(--icon-base) / 2);
                    }

                    .infoTitle {
                        flex: 1 0 0%;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        height: var(--icon-base);
                        padding-left: var(--gap);

                        button {
                            padding: 0;
                            color: inherit;
                            background: none;
                            text-align: left;
                            text-transform: uppercase;
                            border: none;
                        }
                    }
                }
            }

            hr {
                --height: 3px;
                height: var(--height);
                margin: 0.5rem 0;
                background-image: var(--gradient);
                opacity: 1;
                border: none;
                border-radius: var(--height);
            }

            .media {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin: var(--gap) 0;
                font-size: calc(var(--icon-base) * 0.75);

                button {
                    padding: 0;
                    background: none;
                    color: inherit;
                    border: none;
                    transition: transform var(--transition-time) var(--transition-hover-focus);

                    &:hover, &:focus {
                        transform: translate(0px, -2px) scale(1.1);
                    }
                }
            }
        }
    }
}

// Large
@media (min-width: 2050px) {
    .wrapper {
        .primary {
            display: flex;
            justify-content: center;
        }
    }
}

// Medium
@media (max-width: 1200px) {
    .wrapper {
        flex-direction: column;
        align-items: center;

        .primary {
            .primaryContent {
                p {
                    margin-right: 0;
                }

                button {
                    margin: auto;
                }
            }
        }

        .secondary {
            flex-direction: row;
        }

        .resume {
            margin: var(--gap-2);
        }
    }
}

// Small
@media (max-width: 600px) {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .primary {
            padding-right: 0;

            h1 {
                margin: auto;
            }
        }
    }
}
