<div class="wrapper">
    <h1>
        My Projects
    </h1>
    <div class="deck">
        <div class="projectCard portfolio" tabindex="0">
            <div class="background"></div>
            <div class="cardContent">
                <h4 class="projectTitle">
                    My Personal Portfolio
                </h4>
                <p>
                    This website <i>is</i> my personal portfolio!
                    I've created this site to showcase a little bit of what I can do, and to share some things about myself.
                    I hope you like it!
                </p>
            </div>
        </div>
        <div class="projectCard cipher" tabindex="0">
            <div class="background"></div>
            <div class="cardContent">
                <h4 class="projectTitle">
                    Running Key Cipher Tool
                </h4>
                <p>
                    I created this website for a project in a Crpytography class at NKU.
                    This sole purpose of this tool is to aid in enciphering and deciphering using the Running Key Cipher.
                </p>
                <button class="seasonButton" target="_blank" title="Running Key Tool" (click)="goToLink('https://booper1.github.io/runningKeyTool/')">
                    Check it out!
                </button>
            </div>
        </div>
        <div class="projectCard trainingTree" tabindex="0">
            <div class="background"></div>
            <div class="cardContent">
                <h4 class="projectTitle">
                    Medpace Training Tree
                </h4>
                <p>
                    This was a 4-month project that I worked on during my time at Medpace.
                    The Training Tree application is the primary source for administrators to handle the internal learning management system.
                </p>
                <button class="seasonButton" title="Training Tree" [routerLink]="'../TrainingTree'">
                    Learn More
                </button>
            </div>
        </div>
    </div>
</div>
