.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: var(--gap);
    min-height: 100%;

    h1 {
        text-align: center;
        text-transform: uppercase;
    }

    .deck {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        gap: var(--gap-3);
        row-gap: var(--gap-2);

        .projectCard {
            --p: var(--gap-2);
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 500px;
            max-width: 40ch;
            padding-top: 10rem;
            overflow: hidden;
            border-radius: 1rem;
            box-shadow: -3px 3px 0.5em var(--theme-shadow);
            transition: box-shadow var(--transition-time) var(--transition-basic), transform var(--transition-time) var(--transition-hover-focus);

            &:hover, &:focus {
                transform: translate(2px, -2px) scale(1.01);

                .cardContent {
                    padding-left: calc(var(--p) + 1px);
                    padding-bottom: calc(var(--p) + 1px);
                }
            }

            .background {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-size: cover;
                transition: filter var(--transition-time) var(--transition-basic);
            }

            .cardContent {
                display: flex;
                flex-direction: column;
                gap: var(--gap);
                padding: var(--p);
                color: var(--dark-3);
                background: linear-gradient(to bottom, transparent 0%, #0008 10%, #000a 20%, #000 100%);
                transition: padding var(--transition-time) var(--transition-hover-focus);
                z-index: 1;

                .projectTitle {
                    position: relative;
                    width: max-content;
                    max-width: 100%;
                }

                .projectTitle::after {
                    content: '';
                    position: absolute;
                    left: calc(var(--p) * -1);
                    bottom: -4px;
                    height: 4px;
                    width: 100%;
                    background: var(--gradient);
                }

                button {
                    width: 100%;
                    padding: inherit 0;
                }
            }
        }

        .portfolio {
            .background {
                background-image: url(../../assets/portfolioBg.jpg);
                filter: grayscale(1) brightness(calc(var(--brightness) * 6));
            }
        }

        .cipher {
            .background {
                background-image: url(../../assets/cryptographyBg.jpg);
                background-position: -17.6rem 0;
                filter: grayscale(1) brightness(calc(var(--brightness) * 9));
            }
        }

        .trainingTree {
            .background {
                background-image: url(../../assets/trainingTreeBg.jpg);
                filter: grayscale(1) brightness(calc(var(--brightness) * 7));
            }
        }
    }
}
