<div class="wrapper">
    <h1>
        My Projects
    </h1>
    <div class="primary">
        <div class="projectCard portfolio">
            <div class="background"></div>
            <div class="projectContent">
                <h4 class="projectTitle">
                    My Personal Portfolio
                </h4>
                <p class="projectSummary">
                    This website <i>is</i> my personal portfolio!
                    I've created this site to showcase a little bit of what I can do, and to share some things about myself.
                    I hope you like it!
                </p>
            </div>
        </div>
        <div class="projectCard cipher">
            <div class="background"></div>
            <div class="projectContent">
                <h4 class="projectTitle">
                    Running Key Cipher Tool
                </h4>
                <p class="projectSummary">
                    I created this website for a project in a Crpytography class at NKU.
                    This sole purpose of this tool is to aid in enciphering and deciphering using the Running Key Cipher.
                </p>
                <a class="seasonButton" href="https://booper1.github.io/runningKeyTool/" target="_blank" title="Running Key Tool">
                    Check it out!
                </a>
            </div>
        </div>
        <div class="projectCard trainingTree">
            <div class="background"></div>
            <div class="projectContent">
                <h4 class="projectTitle">
                    Medpace Training Tree
                </h4>
                <p class="projectSummary">
                    This was a 4-month project that I worked on during my time at Medpace.
                    The Training Tree application was the primary source for administrators to handle our internal learning management system.
                </p>
                <a class="seasonButton" href="#" target="_blank" title="Training Tree">
                    Learn More
                </a>
            </div>
        </div>
    </div>
</div>
