body {
    background-color: var(--theme-1);
    transition: all var(--transition-time) ease-in-out;
    overflow: hidden;

    .wrapper {
        height: 100vh;
        display: flex;

        nav {
            flex: 0 0 auto;
            height: 100%;
            transition: all var(--transition-time) ease-in-out;
            width: var(--nav-per);
            min-width: var(--nav-min);
            max-width: var(--nav-max);
        }

        main {
            color: var(--theme-3);
            flex: 1 0 0%;
            padding: calc(var(--nav-icon-size) + 2 * var(--gap));
            overflow: auto;
            transition: all var(--transition-time) ease-in-out;
        }
    }
}


// Medium
@media (max-width: 1200px) {
    body {
        .wrapper {
            nav {
                width: calc(var(--nav-icon-size) + 2 * var(--gap));
                min-width: calc(var(--nav-icon-size) + 2 * var(--gap));
                max-width: none;
            }

            main {
                padding: calc(var(--nav-icon-size) + 2 * var(--gap)) calc(2 * var(--gap));
            }

            main.blur {
                filter: blur(2px);
            }
        }
    }
}

// Small
@media (max-width: 576px) {
    body {
        .wrapper {
            nav {
                width: 0;
                min-width: 0;
            }
        }
    }
}
