body {
    background-color: grey;
    overflow: hidden;

    .wrapper {
        display: flex;
        height: 100vh;
        height: -moz-available;
        height: -webkit-fill-available;
        height: stretch;
        background-color: var(--theme-1);
        transition: all var(--transition-time) var(--transition-basic);

        nav {
            flex: 0 0 auto;
            height: 100vh;
            width: var(--nav-per);
            min-width: var(--nav-min);
            max-width: var(--nav-max);
            transition: all var(--transition-time) var(--transition-basic);
        }

        main {
            flex: 1 0 0%;
            padding: 6rem;
            overflow: auto;
            color: var(--theme-3);
            transition: all var(--transition-time) var(--transition-basic);
        }
    }
}

@media (max-width: 1836px) {
    body {
        .wrapper {
            main {
                padding: 5rem;
            }
        }
    }
}

@media (max-width: 1624px) {
    body {
        .wrapper {
            main {
                padding: 4rem;
            }
        }
    }
}

@media (max-width: 1412px) {
    body {
        .wrapper {
            main {
                padding: 3rem;
            }
        }
    }
}

// Medium
@media (max-width: 1200px) {
    body {
        .wrapper {
            nav {
                width: var(--icon-gap);
                min-width: var(--icon-gap);
                max-width: none;
            }

            main {
                padding: var(--icon-gap) var(--gap-2);
            }

            main.blur {
                filter: blur(2px);

                .net {
                    pointer-events: none;
                }
            }
        }
    }
}

// Small
@media (max-width: 600px) {
    body {
        .wrapper {
            nav {
                width: 0;
                min-width: 0;
            }
        }
    }
}
