body {
    background-color: var(--theme-1);
    transition: all var(--transition-time) ease-in-out;
}

.wrapper {
    height: 100vh;
    display: flex;
}

.sidebar {
    flex: 0 0 auto;
    width: calc(var(--nav-icon-size) + 2 * var(--gap));
    height: 100%;
    transition: all var(--transition-time) ease-in-out;
    min-width: calc(var(--nav-icon-size) + 2 * var(--gap));
}

main {
    color: var(--theme-3);
    flex: 1 0 0%;
    transition: all var(--transition-time) ease-in-out;
    padding: calc(var(--nav-icon-size) + 2 * var(--gap));
}

// Medium threshold
@media (min-width: 1200px) {
    .sidebar.open {
        width: var(--nav-per);
        min-width: var(--nav-min);
        max-width: var(--nav-max);
    }
}

@media (max-width: 1200px) {
    main.blur {
        filter: blur(2px);
    }
    main {
        padding: calc(2 * var(--gap));
    }
}

// Small threshold
@media (max-width: 576px) {
    .sidebar {
        width: 0;
        min-width: 0;
    }
    main {
        padding: var(--gap);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
