#navContent {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: var(--nav-per);
    min-width: var(--nav-min);
    max-width: var(--nav-max);
    background: var(--theme-2);
    box-shadow: 0px 0px 0.72em var(--shadow-dark);
    transition: all var(--transition-time) var(--transition-basic);
    z-index: 2;

    .navAction {
        height: var(--icon-base);
        width: var(--icon-base);
        margin: var(--gap);

        #burger {
            position: fixed;
            top: var(--gap);
            left: var(--gap);
            height: var(--icon-base);
            width: var(--icon-base);
            background: var(--theme-4);
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: all calc(var(--transition-time) / 2) var(--transition-basic);
            display: none;

            &:hover {
                box-shadow: 0px 0px 0.72em var(--shadow-dark);
                transform: scale(1.1);
            }

            #topBun, #patty, #botBun {
                position: absolute;
                top: 50%;
                left: 25%;
                height: 3px;
                width: calc(var(--icon-base) / 2);
                background-color: var(--theme-1);
                animation-delay: 50ms;
                transition: transform var(--transition-time) cubic-bezier(.84,.06,.52,1.8), opacity var(--transition-time) cubic-bezier(.84,.06,.52,1.8), background-color var(--transition-time) var(--transition-basic);
            }

            #topBun {
                transform: translateY(calc(var(--icon-base) * -1 / 6));
            }

            #botBun {
                transform: translateY(calc(var(--icon-base) * 1 / 6));
            }
        }

        #burger.cross {
            --angle: 42deg;

            #topBun {
                transform: rotate(var(--angle));
            }

            #patty {
                opacity: 0;
            }

            #botBun {
                transform: rotate(calc(-1 * var(--angle)));
            }
        }
    }

    #pageGroup {
        hr {
            --height: 3px;
            height: var(--height);
            width: calc(100% - var(--gap-2));
            margin: var(--gap);
            background-color: var(--theme-5);
            opacity: 1;
            border: none;
            border-radius: var(--height);
            transition: all var(--transition-time) var(--transition-basic);
        }

        .page {
            display: flex;
            margin: var(--gap);
            color: var(--theme-5);
            font-size: 2rem;
            line-height: 2;
            letter-spacing: 0;
            text-transform: uppercase;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background: rgba(255, 255, 255, 0.1);
                box-shadow: 0px 0px 0.5em var(--shadow-dark);
            }

            .pageIcon {
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                height: var(--icon-base);
                width: var(--icon-base);
                font-size: calc(var(--icon-base) * 2 / 3);
                cursor: pointer;
                transition: color var(--transition-time) var(--transition-basic);
            }

            .pageTitle {
                flex: 1 0 0%;
                display: flex;
                align-items: center;
                justify-content: right;
                height: var(--icon-base);
                padding-right: 10px;
                opacity: 1;
                cursor: pointer;
                transition: all var(--transition-time) var(--transition-basic);
            }
        }
    }

    .navTheme {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--theme-5);
        background: none;
        font-size: calc(var(--icon-base) * 2 / 3);
        border: none;
        border-radius: 50%;
        transition: transform var(--transition-time) var(--transition-hover-focus);

        &:hover, &:focus {
            transform: scale(1.1);
        }

        .themeIcon {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            transition: color var(--transition-time) var(--transition-basic), opacity var(--transition-time) var(--transition-basic);
        }

        .themeIcon.show {
            opacity: 1;
        }
    }
}

#navContent.hide {
    width: var(--icon-gap);
    min-width: var(--icon-gap);
    max-width: none;

    #pageGroup {
        .page {
            .pageTitle {
                padding: 0;
                font-size: 0;
                opacity: 0;
            }
        }
    }
}

// Medium
@media (max-width: 1200px) {
    #navContent {
        .navAction {
            #burger {
                display: inline;
            }
        }
    }
}

// Small
@media (max-width: 600px) {
    #navContent {
        left: 0;
        width: var(--nav-per);
        min-width: var(--nav-min);
    }

    #navContent.hide {
        left: calc(-1 * var(--icon-gap));
        box-shadow: none;
    }
}

// Small Height
@media (max-height: 450px) {
    #navContent {
        #pageGroup {
            .page {
                margin: auto var(--gap);
            }
        }

        .navAction {
            visibility: hidden;
        }
    }
}

// Smaller Height
@media (max-height: 350px) {
    #navContent {
        #pageGroup {
            hr {
                display: none;
            }
        }
    }
}

// Smallest Height
@media (max-height: 350px) {
    #navContent {
        #pageGroup {
            margin: auto;
        }

        .navAction {
            display: none;
        }
    }
}
