<div id="navContent">
    <div class="navAction">
        <div id="burger" class="cross" (click)="toggleNav()">
            <div id="topBun"></div>
            <div id="patty"></div>
            <div id="botBun"></div>
        </div>
    </div>
    <div id="pageGroup">
        <div class="page" *ngFor="let item of navItems"
             [routerLink]="[item.title]"
             (keydown.enter)="onKeyEvent(item.title)"
             (keydown.space)="onKeyEvent(item.title)"
             (click)="closeNav()"
             [style.background-color]="currentPage(item.title) ? 'grey' : ''"
             [title]="item.title">

            <div class="pageIcon"><fa-icon [icon]="item.icon"></fa-icon></div>
            <div class="pageTitle"><span>{{ item.title }}</span></div>
        </div>
    </div>
    <div class="navAction navTheme" title="Theme Toggle">
        <fa-icon [icon]="['fas', 'sun']" class="theme show" id="light" (click)="toggleTheme()"></fa-icon>
        <fa-icon [icon]="['fas', 'moon']" class="theme" id="dark" (click)="toggleTheme()"></fa-icon>
    </div>
</div>
