<div id="navContent">
    <div class="navAction">
        <button id="burger" class="cross" tabindex="1" (click)="toggleNav()">
            <div id="topBun"></div>
            <div id="patty"></div>
            <div id="botBun"></div>
        </button>
    </div>
    <div id="pageGroup">
        <hr />
        <div class="page" *ngFor="let item of navItems"
             (click)="closeNav()"
             (keydown.enter)="onKeyEvent(item.title)"
             (keydown.space)="onKeyEvent(item.title)"
             [routerLink]="[item.title]"
             [style.background-color]="currentPage(item.title) ? 'grey' : ''"
             [title]="item.title">

            <div class="pageIcon"><fa-icon [icon]="item.icon"></fa-icon></div>
            <div class="pageTitle"><span>{{ item.title }}</span></div>
        </div>
        <hr />
    </div>
    <button class="navAction navTheme" title="Theme Toggle" (click)="toggleTheme()">
        <fa-icon id="light" class="themeIcon show" [icon]="['fas', 'sun']"></fa-icon>
        <fa-icon id="dark" class="themeIcon" [icon]="['fas', 'moon']"></fa-icon>
    </button>
</div>
