[data-theme="dark"] {
    --theme-1: #121212; // Background
    --theme-2: #323232; // Surface
    --theme-3: #d7d7d7; // On Background
    --theme-4: #a2a2a2; // On Surface Head
    --theme-5: #e2e2e2; // On Surface Main
    --theme-6: #0000008a; // Shadow
}

[data-theme="light"] {
    --theme-1: #ededed; // Background
    --theme-2: #cdcdcd; // Surface
    --theme-3: #282828; // On Background
    --theme-4: #5d5d5d; // On Surface Head
    --theme-5: #1d1d1d; // On Surface Main
    --theme-6: #0000008a; // Shadow
}

:root {
    --gap: 1rem;
    --nav-icon-size: 60px;
    --nav-per: 17%;
    --nav-min: 260px;
    --nav-max: 360px;
    --transition-time: 300ms;
    --logo-theme-bg: var(--theme-1);
    --logo-theme-1: var(--theme-3);
    --logo-theme-2: var(--theme-3);
    --logo-theme-3: var(--theme-3);
}
