:root {
    --gap: 1rem;
    --nav-icon-size: 4rem;
    --nav-per: 16%;
    --nav-min: 16.5rem;
    --nav-max: 23rem;
    --transition-time: 300ms;
    --gradient: linear-gradient(45deg, var(--season-3) 10%, var(--season-2) 60%, var(--season-1) 90%);
    --dark-3: #d7d7d7;
    --shadow-dark: #0000008a;
    --shadow-light: #ffffff8a;
    --season-bg: #333333;
    --season-1: #ffffff;
    --season-2: #ffffff;
    --season-3: #ffffff;
}

[data-theme="dark"] {
    --theme-1: #121212; // Background
    --theme-2: #323232; // Surface
    --theme-3: #d7d7d7; // On Background
    --theme-4: #a2a2a2; // On Surface Head
    --theme-5: #e2e2e2; // On Surface Main
    --theme-shadow: var(--shadow-light); // Shadow
}

[data-theme="light"] {
    --theme-1: #ededed; // Background
    --theme-2: #cdcdcd; // Surface
    --theme-3: #282828; // On Background
    --theme-4: #5d5d5d; // On Surface Head
    --theme-5: #1d1d1d; // On Surface Main
    --theme-shadow: var(--shadow-dark); // Shadow
}

[season-theme="winter"] {
    --season-bg: #151c36;
    --season-1: #b390b8;
    --season-2: #b5e5e7;
    --season-3: #0d72a1;
}

[season-theme="spring"] {
    --season-bg: #075452;
    --season-1: #75d481;
    --season-2: #f9e830;
    --season-3: #f36870;
}

[season-theme="summer"] {
    --season-bg: #3e4a74;
    --season-1: #ffad22;
    --season-2: #6b9e17;
    --season-3: #0299b1;
}

[season-theme="autumn"] {
    --season-bg: #404040;
    --season-1: #ce1c00;
    --season-2: #fc7b00;
    --season-3: #4a7912;
}

.seasonText {
    color: var(--season-1);
    font-weight: bold;
    text-shadow: -0.5px 0.5px var(--theme-3);
    transition: color var(--transition-time) ease-in-out,
                text-shadow var(--transition-time) ease-in-out;
}

.seasonButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    border: none;
    background-color: var(--season-1);
    border-radius: 1rem;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.4rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color var(--transition-time) ease-in-out,
                color var(--transition-time) ease-in-out;

    &:active {
        box-shadow: 0 0.2rem var(--theme-2);
        transform: translateY(3px);
    }

    fa-icon {
        font-size: 2rem;
    }
}

::selection {
    background: var(--theme-3); /* WebKit/Blink Browsers */
    color: var(--theme-2);
}

::-moz-selection {
    background: var(--theme-3); /* Gecko Browsers */
    color: var(--theme-2);
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--theme-2);
    border-radius: 0.5em;
    box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: var(--theme-3);
    border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--theme-3);
}
