.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100%;

    .primary {
        flex: 0 0 65%;
        display: flex;

        .primaryContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: var(--gap);
            gap: var(--gap);

            p {
                font-size: 1.5rem;
            }

            button {
                width: 12.5rem;
            }
        }
    }

    .secondary {
        flex: 0 0 35%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 13vw;
            max-width: var(--nav-min);
            border-radius: 17%;
            cursor: pointer;
            border: none;

            stop, rect {
                transition: stop-color var(--transition-time) ease-in-out, fill var(--transition-time) ease-in-out;
            }
        }
    }
}

// Large
@media (min-width: 2050px) {
    .wrapper {
        .primary {
            justify-content: center;
        }
    }
}

// Medium
@media (max-width: 1200px) {
    .wrapper {
        justify-content: center;

        .primary {
            flex: 0 0 100%;
            max-width: 100ch;

            p {
                font-size: 1.5rem;
            }
        }

        .secondary {
            flex: 0 0 0%;

            svg {
                position: absolute;
                height: var(--nav-icon-size);
                width: var(--nav-icon-size);
                top: var(--gap);
                right: var(--gap);
            }
        }
    }
}
