.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100%;

    .primary {
        flex: 0 0 65%;
        display: flex;

        .primaryContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--gap);
            padding-right: var(--gap);

            p {
                font-size: 1.5rem;
            }

            button {
                width: fit-content;
            }

            .seasonText {
                color: var(--season-1);
                font-weight: bold;
                text-shadow: -0.5px 0.5px var(--theme-3);
                transition: color var(--transition-time) var(--transition-hover-focus), text-shadow var(--transition-time) var(--transition-hover-focus);
            }
        }
    }

    .secondary {
        flex: 0 0 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg {
            width: 12.5vw;
            max-width: var(--nav-min);
            border: none;
            border-radius: 17%;
            cursor: pointer;

            stop, rect {
                transition: stop-color var(--transition-time) var(--transition-hover-focus), fill var(--transition-time) var(--transition-hover-focus);
            }
        }
    }
}

// Large
@media (min-width: 2050px) {
    .wrapper {
        .primary {
            justify-content: center;
        }
    }
}

// Medium
@media (max-width: 1200px) {
    .wrapper {
        justify-content: center;

        .primary {
            flex: 0 0 100%;
            max-width: 100ch;

            p {
                font-size: 1.5rem;
            }
        }

        .secondary {
            flex: 0 0 0%;

            svg {
                position: absolute;
                top: var(--gap);
                right: var(--gap);
                height: var(--icon-base);
                width: var(--icon-base);
            }
        }
    }
}
